
*{
	box-sizing: border-box;
}

body{
	margin:0;
	padding:0;
	font-family: verdana, geneva, sans-serif;
}
h1{
	text-align: center;
	display: block;
	margin-top: 60px;
}
.details{
	font-size: 18px;
	padding:12px;
	margin:0;
	clear:right;
}
.placename{
	color:powderblue;
	border:1px solid black;
	font-size:23px;
	border-top:0;
	border-right:0;
	width:200px;
	float:right;
	margin:0;
	text-align:center;
}
.box{
	background-color:#C5FF6E;
	float:left;
	margin: 1%;
	width:31.3333%;
	border:1px solid black;

}
#madagascar>h3{
	background-color:lemonchiffon;
}
#ibiza>h3{
	background-color:orange;
}
#bali>h3{